@use 'variaveis';

.hero {

    background: linear-gradient(180deg, rgba(0,38,6,1) 0%, rgba(0,212,255,0) 100%);
    h1 {
        text-align: center;
    }

    &__content {
        padding-top: 48px;
        max-width: 100%;
    }

    @media (max-width: 767px) {
        // background-color: red;
        width: 100%;
        max-width: 100%;
        
        &__content {
            justify-content: center;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 1439px) {
        background-color: red;
        width: 100%;
        max-width: 100%;
        
        &__content {
            justify-content: center;
            margin-bottom: 40px;
        }
    }
}
