@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;
    min-height: 50vw;

    @media (max-width: 1439px) {
        padding: 2vw 0;
    }

    &__list {
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &--is-active {
            display: grid;
        }

        &__item {
            img {
                width: 410.24px;
                height: 246.14px;
                border-radius: 8px;
            }
        }

        @media (max-width: 767px) {
            grid-template-columns: 1fr;
            gap: 0px;
            justify-content: center;
        }

        @media (max-width: 1439px) {
            grid-template-columns: 1fr 1fr;
            gap: 0px;
        }

    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            border-bottom: 5px solid #00000000;
            padding-bottom: 5px;
            background:none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;

            &--is-active {
                border-bottom: 5px solid variaveis.$corTextoSecundario;
            }
        }
    }
}